@charset "utf-8"

html,body{
	border:0px;
	padding:0px;
}
.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:#1d953f;
}
.center{
	position:relative;
	margin:500px auto;
	width:200px;
	height:200px;
	background-color:#005831;
	border-radius:100px;
	font-size:50px;
	color:#fff;
	text-align:center;
	line-height:80px;
}
.center:hover .text1{
	display:block;
}
.center:hover .text2{
	display:block;
}
.center:hover .text3{
	display:block;
}
.center:hover .text4{
	display:block;
}
.center:hover .text5{
	display:block;
}
.text1{
	position:absolute;
	top:-470px;
	left:-300px;
	height:300px;
	width:800px;
	background-color:#005831;
	display:none;
}
.text2{
	position:absolute;
	top:300px;
	left:-350px;
	height:300px;
	width:400px;
	background-color:#005831;
	float:left;
	display:none;
}
.text3{
	position:absolute;
	top:300px;
	left:160px;
	height:300px;
	width:400px;
	background-color:#005831;
	float:right;
	display:none;
}
.text4{
	position:absolute;
	top:700px;
	left:-350px;
	height:300px;
	width:400px;
	background-color:#005831;
	float:left;
	display:none;
}
.text5{
	position:absolute;
	top:700px;
	left:160px;
	height:300px;
	width:400px;
	background-color:#005831;
	float:right;
	display:none;
}