@charset "utf-8"

html,body{
	border:0px;
	padding:0px;
}
.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:#2468a2;
}
.center{
	position:relative;
	margin:500px auto;
	width:200px;
	height:200px;
	background-color:#2c3e50;
	border-radius:100px;
	font-size:50px;
	color:#fff;
	text-align:center;
	line-height:80px;
}
.center:hover .text1{
	transition:2s;
	opacity:1;
}
.center:hover .text2{
	transition:5s;
	opacity:1;
}
.center:hover .text3{
	transition:8s;
	opacity:1;
}
.center:hover .text4{
	transition:11s;
	opacity:1;
}
.center:hover .text5{
	transition:14s;
	opacity:1;
}
.text1{
	position:absolute;
	top:-470px;
	left:-300px;
	height:300px;
	width:800px;
	background-color:#eee;
	opacity:0.01;
}
.text2{
	position:absolute;
	top:300px;
	left:-350px;
	height:300px;
	width:400px;
	background-color:#eee;
	float:left;
	opacity:0.01;
}
.text3{
	position:absolute;
	top:300px;
	left:160px;
	height:300px;
	width:400px;
	background-color:#eee;
	float:right;
	opacity:0.01;
}
.text4{
	position:absolute;
	top:700px;
	left:-350px;
	height:300px;
	width:400px;
	background-color:#eee;
	float:left;
	opacity:0.01;
}
.text5{
	position:absolute;
	top:700px;
	left:160px;
	height:300px;
	width:400px;
	background-color:#eee;
	float:right;
	opacity:0.01;
}
