@charset "utf-8";

html,body{
	margin:0px;
	overflow:hidden;
}
.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	background-color:#ddd;
}
.fly{
	position:fixed;
	z-index:5;
	top:250px;
	right:2px;
	width:40px;
	height:150px;
	padding:0px;
	border:solid 1px #000;
	border-radius:30px;

}
.fly1{
	position:relative;
	z-index:7;
	top:0px;
	width:40px;
	height:75px;
	padding:0px;
	border:solid 0px #000;
	text-align:center;
	line-height:13px;
	font-weight:bold;
	color:#fff;
}
.fly1:hover{
	transition:1s;
	font-size:25px;
}
.fly2{
	position:relative;
	z-index:7;
	top:0px;
	width:40px;
	height:75px;
	padding:0px;
	border:solid 0px #000;
	text-align:center;
	line-height:13px;
	font-weight:bold;
	color:#fff;
}
.fly2:hover{
	transition:1s;
	font-size:25px;
}
.flymove{
	position:relative;
	z-index:6;
	top:-150px;
	width:40px;
	height:79px;
	padding:0px;
	border:solid 0px #000;
	background-color:#0c212b;
	border-radius:30px;
}
.cover{
	position:relative;
	margin:0px auto;
	height:670px;
	background-color:#1d953f;
}
.main{
	position:relative;
	margin:0px auto;
	height:670px;
	background-color:#37414b;
	overflow:hidden;
}
.btn1{
	position:relative;
	top:0px;
	float:right;
	width:50px;
	height:49px;
	color:#000;
	font-weight:bold;
	border-bottom:solid 1px #fff;
	background-color:#fff;
}
.btn2{
	position:relative;
	top:0px;
	left:535px;
	float:left;
	width:110px;
	height:49px;
	color:#fff;
	font-weight:bold;
	background-color:#ffe600;
	border-bottom:solid 1px #fff;
}
.btn3{
	position:relative;
	top:0px;
	left:610px;
	float:left;
	width:110px;
	height:49px;
	color:#fff;
	font-weight:bold;
	background-color:#ffe600;
	border-bottom:solid 1px #fff;
}
.text{
	position:relative;
	top:210px;
	left:500px;
	font-size:130px;
	font-weight:bold;
	color:#fff;
}
.text:hover{
	transition:1s;
	transform:translate(-300px,-50px) rotateX(30deg) rotateY(15deg);
	opacity:0.5;
	font-size:280px;
	border-radius:100px;
}
.top{
	position:relative;
	margin:0px auto;
	height:150px;
}
.information{
	position:relative;
	float:left;
	height:150px;
	width:1250px;
	padding:0px;
	margin:0px;	
}
.photo{
	position:relative;
	left:20px;
	float:left;
	height:150px;
	width:209.3px;
	background-color:#000;
	padding:0px;
	margin:0px;	
}
.photo img{
	width:209.3px;
	height:150px;
}
.middle{
	position:relative;
	margin:50px auto;
	height:1020px;
	width:1220px;
}
.middle2{
	position:relative;
	top:-150px;
	margin:0px auto;
	height:520px;
	width:1220px;
}
.main1{
	width:300px;
	height:400px;
	background-color:#009ad6;
	color:#fff;
	margin-left:80px;
	float:left;
	font-size:40px;
	line-height:60px;
	text-align:center;
}
.main1:hover{
	transition:1s;
	transform:rotateY(360deg);
	opacity:0.3;
	font-size:60px;
	border-radius:100px;
}
.main2{
	position:relative;
	width:300px;
	height:400px;
	top:300px;
	background-color:#009ad6;
	color:#fff;
	margin-left:80px;
	float:left;
	font-size:40px;
	line-height:60px;
	text-align:center;
}
.main2:hover{
	transition:1s;
	transform:rotateY(360deg);
	opacity:0.3;
	font-size:60px;
	border-radius:100px;
}
.person{
	position:relative;
	left:50px;
	float:left;
	height:150px;
	width:1000px;
	line-height:56px;
	font-size:20px;
	color:#fff;
}
.btn2area{
	position:relative;
	top:-660px;
	height:50px;
	margin:0px auto;
}





